<mat-card>
    <h1 class="text-center my-3">Actualizar Experto</h1>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h1 class="mt20"></h1>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form *ngIf="usuario" (ngSubmit)="actualizarUsuario()">
                        <mat-form-field class="w100" appearance="outline" style="height: 65px;">
                            <mat-label>email</mat-label>
                            <input required autofocus type="email" name="email" matInput
                                placeholder="Digite el email del usuario" [(ngModel)]="usuario.email"
                                [formControl]="correo">
                        </mat-form-field>
                        <span class="badge text-bg-success" *ngIf="correo.dirty && correo.valid">
                            Correcto
                        </span>
                        <span class="badge text-bg-danger" *ngIf="correo.invalid && correo.touched">
                            Este campo es obligatorio
                        </span>
                        <mat-form-field class="w100" appearance="outline" style="height: 65px;">
                            <mat-label>Nombre</mat-label>
                            <input required name="nombre" matInput placeholder="Digite el nombre del usuario"
                                [(ngModel)]="usuario.nombre" [formControl]="nombre">
                        </mat-form-field>
                        <span class="badge text-bg-success" *ngIf="nombre.dirty && nombre.valid">
                            Correcto
                        </span>
                        <span class="badge text-bg-danger" *ngIf="nombre.invalid && nombre.touched">
                            Este campo es obligatorio
                        </span>
                        <mat-form-field class="w100" appearance="outline" style="height: 65px;">
                            <mat-label>Apellido</mat-label>
                            <input required name="apellido" matInput placeholder="Digite los apellidos del usuario"
                                [(ngModel)]="usuario.apellido" [formControl]="apellido">
                        </mat-form-field>
                        <span class="badge text-bg-success" *ngIf="apellido.dirty && apellido.valid">
                            Correcto
                        </span>
                        <span class="badge text-bg-danger" *ngIf="apellido.invalid && apellido.touched">
                            Este campo es obligatorio
                        </span>
                        <mat-form-field class="w100" appearance="outline" style="height: 65px;">
                            <mat-label>Telefono</mat-label>
                            <input required name="telefono" matInput placeholder="Digite el telefono"
                                [(ngModel)]="usuario.telefono" [formControl]="telefono">
                        </mat-form-field>
                        <span class="badge text-bg-success" *ngIf="telefono.dirty && telefono.valid">
                            Correcto
                        </span>
                        <span class="badge text-bg-danger" *ngIf="telefono.invalid && telefono.touched">
                            Este campo es obligatorio
                        </span>
                        <mat-form-field class="w100" appearance="outline" style="height: 160px;">
                            <mat-label>Descripción</mat-label>
                            <textarea required name="descripcion" matInput
                                placeholder="Digite una breve descripción del experto" rows="5"
                                [(ngModel)]="usuario.descripcion" [formControl]="descripcion">
                </textarea>
                        </mat-form-field>
                        <span class="badge text-bg-success" *ngIf="descripcion.dirty && descripcion.valid">
                            Correcto
                        </span>
                        <span class="badge text-bg-danger" *ngIf="descripcion.invalid && descripcion.touched">
                            Este campo es obligatorio
                        </span>
                        <div class="container text-center mt15">
                            <button mat-raised-button color="primary">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>