.example-spacer {
    flex: 0.92 1 auto;
}

.icon1 {
    max-width: 100%;
}

.navstyle {
    margin-bottom: 15px;
}


a{
    text-decoration: none;
    color: black;
}

.mat-toolbar {
    background: #653463;
    color: #fff;
    position: relative;
}