.example-spacer {
    flex: 0.92 1 auto;
}

/* .icon1 {
    max-width: 100%;
} */

.navstyle {
    margin-bottom: 15px;
}


/* a{
    text-decoration: none;
    color: black;
} */

.mat-toolbar {
    background: #442143;
    color: #fff;
    position: relative;
    margin-bottom: 0;
}

hr {
    margin-top: 0px;
    color: rgb(109, 85, 110);
    /* border: 0px; */
    /* border-top: var(--bs-border-width) solid; */
    opacity: 1;
    height: 10px;
    background-color: rgb(109, 85, 110);
}