<mat-card>
  <h1 class="text-center my-3">Generar reporte</h1>
</mat-card>
<mat-card *ngFor="let p of evaluaciones">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{ p.titulo }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ p.descripcion }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button id="btn-descargar-pdf" (click)="generarPDF(p.evaluacionId)" mat-flat-button color="primary"
        class="ml20">Generar</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
