<mat-card>
    <mat-card-header>
        <mat-card-title class="text-center">
            <h2>Bienvenido {{ user.nombre }}.</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h4>Tienes el rol de <b>EXPERTO</b>, estas son las tareas que puedes realizar:
            <ul>
                <li>
                    Puedes hacer evaluaciones de usabilidad a los sitios que tú quieras.
                </li>
                <li>
                    Puedes dejar en estado de borrador las evaluaciones que aún no hayas terminado y continuarlas en cualquier momento.
                </li>
                <li>
                    Si no quieres continuar una evaluación la puedes borrar cuando lo necesites.
                </li>
                <li>
                    Cuando hayas terminado una evaluación podrás generar un reporte de la misma, y si lo deseas lo puedes descargar.
                </li>
            </ul>
        </h4>
    </mat-card-content>
</mat-card>