<!-- <mat-card>
  <h1 class="text-center my-3">Detalles del perfil</h1>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="text-center">
          <h1 class="mt20"></h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Usuario</th>
                  <td>{{ user.username }}</td>
                </tr>
                <tr>
                  <th scope="row">Nombres</th>
                  <td>{{ user.nombre }}</td>
                </tr>
                <tr>
                  <th scope="row">Apellidos</th>
                  <td>{{ user.apellido }}</td>
                </tr>

                <tr>
                  <th scope="row">Correo</th>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <th scope="row">Telefono</th>
                  <td>{{ user.telefono }}</td>
                </tr>
                <tr>
                  <th scope="row">Rol</th>
                  <td>{{ user.authorities[0].authority }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->
<mat-card>
  <h1 class="text-center my-3">Detalles del perfil</h1>
  <mat-divider></mat-divider>
  <div class="main">
    <div class="card">
      <div class="card-body">
        <table>
          <tbody>
            <tr>
              <td><b>Usuario</b></td>
              <td>:</td>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <td><b>Nombres</b></td>
              <td>:</td>
              <td>{{ user.nombre }}</td>
            </tr>
            <tr>
              <td><b>Apellidos</b></td>
              <td>:</td>
              <td>{{ user.apellido }}</td>
            </tr>
            <tr>
              <td><b>Correo</b></td>
              <td>:</td>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <td><b>Telefono</b></td>
              <td>:</td>
              <td>{{ user.telefono }}</td>
            </tr>
            <tr>
              <td><b>Rol</b></td>
              <td>:</td>
              <td>{{ user.authorities[0].authority }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</mat-card>