<mat-card>
    <h1 class="text-center my-3">Registrar Experto</h1>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row" style="margin-top : 20px;">
                    <div class="col-md-6 offset-md-3">
                        <form (ngSubmit)="formSubmit()">
                            <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                                <mat-label>Email</mat-label>
                                <input required [(ngModel)]="user.email" name="email" type="email" matInput
                                    placeholder="Digite el email del experto" [formControl]="correo">
                            </mat-form-field>
                            <span class="badge text-bg-success" *ngIf="correo.dirty && correo.valid ">
                                Correcto
                            </span>
                            <div *ngIf="correo.invalid && (correo.touched || correo.dirty)">
                                <span class="badge text-bg-danger" *ngIf="correo.errors?.['required']">
                                    Este campo es obligatorio
                                </span>
                                <span class="badge text-bg-danger" *ngIf="correo.errors?.['pattern']">
                                    El correo debe tener el siguiente formato: ejemplo@correo.com
                                </span>
                            </div>
                            <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                                <mat-label>Nombre</mat-label>
                                <input required [(ngModel)]="user.nombre" name="nombre" matInput
                                    placeholder="Digite el nombre del experto" [formControl]="nombre">
                            </mat-form-field>
                            <span class="badge text-bg-success" *ngIf="nombre.dirty && nombre.valid">
                                Correcto
                            </span>
                            <div *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">
                                <span class="badge text-bg-danger" *ngIf="nombre.errors?.['required']">
                                    Este campo es obligatorio
                                </span>
                                <span class="badge text-bg-danger" *ngIf="nombre.errors?.['pattern']">
                                    El nombre solo puede contener letras
                                </span>
                            </div>
                            <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                                <mat-label>Apellido</mat-label>
                                <input required [(ngModel)]="user.apellido" name="apellido" matInput
                                    placeholder="Digite el apellido del experto" [formControl]="apellido">
                            </mat-form-field>
                            <span class="badge text-bg-success" *ngIf="apellido.dirty && apellido.valid">
                                Correcto
                            </span>
                            <div *ngIf="apellido.invalid && (apellido.touched || apellido.dirty)">
                                <span class="badge text-bg-danger" *ngIf="apellido.errors?.['required']">
                                    Este campo es obligatorio
                                </span>
                                <span class="badge text-bg-danger" *ngIf="apellido.errors?.['pattern']">
                                    El apellido solo puede contener letras
                                </span>
                            </div>
                            <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                                <mat-label>Telefono</mat-label>
                                <input required name="telefono" matInput placeholder="Digite el telefono"
                                    [(ngModel)]="user.telefono" [formControl]="telefono">
                            </mat-form-field>
                            <span class="badge text-bg-success" *ngIf="telefono.dirty && telefono.valid ">
                                Correcto
                            </span>
                            <div *ngIf="telefono.invalid && (telefono.touched || telefono.dirty)">
                                <span class="badge text-bg-danger" *ngIf="telefono.errors?.['required']">
                                    Este campo es obligatorio
                                </span>
                                <span class="badge text-bg-danger" *ngIf="telefono.errors?.['pattern']">
                                    El telefono solo puede contener números
                                </span>
                            </div>
                            <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                                <mat-label>Nombre de usuario</mat-label>
                                <input required [(ngModel)]="user.username" name="username" matInput
                                    placeholder="Digite el usuario del experto" [formControl]="usuario">
                                <mat-hint></mat-hint>
                            </mat-form-field>
                            <span class="badge text-bg-success" *ngIf="usuario.dirty && usuario.valid">
                                Correcto
                            </span>
                            <span class="badge text-bg-danger" *ngIf="usuario.invalid && usuario.touched">
                                Este campo es obligatorio
                            </span>
                            <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                                <mat-label>Contraseña</mat-label>
                                <input required [(ngModel)]="user.password" name="password" type="password" matInput
                                    placeholder="Digite la contraseña del experto" [formControl]="contrasenia">
                            </mat-form-field>
                            <span class="badge text-bg-success" *ngIf="contrasenia.dirty && contrasenia.valid">
                                Correcto
                            </span>
                            <span class="badge text-bg-danger" *ngIf="contrasenia.invalid && contrasenia.touched">
                                Este campo es obligatorio
                            </span>
                            <mat-form-field class="full-width" appearance="outline" style="height: 160px;">
                                <mat-label>Descripción</mat-label>
                                <textarea required name="descripcion" matInput
                                    placeholder="Digite una breve descripción del experto" rows="5"
                                    [(ngModel)]="user.descripcion" [formControl]="descripcion">
                              </textarea>
                            </mat-form-field>
                            <span class="badge text-bg-success" *ngIf="descripcion.dirty && descripcion.valid">
                                Correcto
                            </span>
                            <span class="badge text-bg-danger" *ngIf="descripcion.invalid && descripcion.touched">
                                Este campo es obligatorio
                            </span>
                            <div class="container text-center">
                                <button mat-raised-button color="primary"
                                    [disabled]="correo.invalid || nombre.invalid || apellido.invalid || telefono.invalid || usuario.invalid || contrasenia.invalid || descripcion.invalid">Registrar</button>
                            </div>
                        </form>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>