<mat-card>
    <mat-card-header>
        <mat-card-title class="text-center">
            <h2>Bienvenido {{ user.nombre }}.</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h4>Tienes el rol de <b>ADMINISTRADOR</b>, estas son las tareas que puedes realizar:
            <ul>
                <li>
                    Puedes agregar nuevos principios para las evaluaciones.
                </li>
                <li>
                    Puedes ver todos los principios registrados en la aplicación.
                </li>
                <li>
                    Puedes actualizar los principios cuando lo desees.
                </li>
                <li>
                    Puedes eliminar principios cuando ya no los necesites.
                </li>
                <li>
                    Puedes registrar expertos para que tengan acceso a la aplicación, hazlo con cuidado.
                </li>
                <li>
                    Puedes ver todos los expertos registrados en la aplicación.
                </li>
                <li>
                    Puedes actualizar la información de los expertos, ya sea porque lo requieras o te lo pidieron.
                </li>
                <li>
                    Puedes eliminar expertos registrados para que no vuelvan a tener acceco a la aplicación.
                </li>
            </ul>
        </h4>
    </mat-card-content>
</mat-card>