<div class="bootstrap-wrapper text-center scroll">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="cardlog">
                    <mat-icon>
                        account_circle
                    </mat-icon>
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="inputlog space" appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input [(ngModel)]="loginData.username" name="username" type="text" required matInput
                                placeholder="Digite su nombre de usuario">
                        </mat-form-field>
                        <mat-form-field class="inputlog space" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input [(ngModel)]="loginData.password" name="password" type="password" required matInput
                                placeholder="Digite su contraseña">
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-raised-button color="primary" [routerLink]="'/login'" target="_blank">Iniciar
                                Sesión
                            </button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>