<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top : 20px">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="" alt="">
                </div>
                <h1 class="text-center">Iniciar Sesión</h1>
                <form action="">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input required matInput placeholder="Digite su nombre de usuario">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input required matInput placeholder="Digite su contraseña">
                    </mat-form-field>
                    <div class="container text-center">
                        <button mat-raised-button color="primary">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>