<h1 class="titlehp space1">¡Bienvenido!</h1>
<p class="texthp space1">La siguiente página web es una herramienta que busca apoyar al proceso de evalación de
    usabilidad web,
    la cual por medio de evalaciones de forma manual por parte de expertos.
    La aplicación web está enfocada en la evaluación de la usabilidad de sitios web, basándose en principios de
    usabilidad que serán seleccionados como parte del desarrollo del presente proyecto. Para el desarrollo de la
    aplicación web se tomaron en cuenta factores como:
</p>
<ul class="texthp space1">
    <li>- Investigación de los principios de usabilidad que existen para tener un amplio conocimiento de ellos y saber
        cuáles se van a considerar en para la aplicación web.</li>
    <li>- Creación de un formulario con base en los principios de usabilidad seleccionados.</li>
    <li>- Que en la evaluación se considere como mínimo la URL del sitio web a evaluar, el nombre del sitio web,
        información relacionada con el experto que evalúa, y preguntas relacionadas con la usabilidad web basadas en los
        principios que se seleccionen.</li>
    <li>- Que haya una opción para gestionar la información de los principios de usabilidad.</li>
    <li>- Una opción que permita generar un reporte tipo resumen con los resultados de la evaluación de usabilidad.</li>
    <li>- Pruebas funcionales con las cuales el software será puesto a prueba para determinar si cumple con el alcance
        de los requerimientos establecidos.</li>
    <li>- Dado el tiempo que se tiene para el desarrollo del presente trabajo de grado, no se contemplan pruebas con
        usuarios finales.</li>
</ul>
<button class="Inits space1" [routerLink]="'/login'" mat-stroked-button target="_blank" color="primary">Iniciar Sesión</button>