.container {
    place-content: center;
}

.space1 {
    margin-top: 2%;
}

.title {
    font-size: xxx-large;
    text-align: center;
    color: white;
}

.text {
    color: white;
    text-align: justify;
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.3;
}

.Inits {
    background: linear-gradient(#653463, #331A31);
    color: white;
    margin-left: 50%;
}