<div class="container">
    <h1 class="title space1">¡Bienvenido!</h1>
    <p class="text space1">
        La aplicación web está enfocada en la evaluación de la usabilidad de sitios web, basándose en principios de
        usabilidad que serán seleccionados como parte del desarrollo del presente proyecto. Para el desarrollo de la
        aplicación web se tomaron en cuenta factores como:
    </p>
    <ul class="text space1">
        <li>Investigación de los principios de usabilidad que existen para tener un amplio conocimiento de ellos y saber
            cuáles se van a considerar en para la aplicación web.</li>
        <li>Creación de un formulario con base en los principios de usabilidad seleccionados.</li>
        <li>Que en la evaluación se considere como mínimo la URL del sitio web a evaluar, el nombre del sitio web.</li>
        <li>Que haya una opción para gestionar la información de los principios de usabilidad.</li>
        <li>Una opción que permita generar un reporte tipo resumen con los resultados de la evaluación de usabilidad.
        </li>
        <li>Pruebas funcionales con las cuales el software será puesto a prueba para determinar si cumple con el alcance
            de los requerimientos establecidos.</li>
        <li>Dado el tiempo que se tiene para el desarrollo del presente trabajo de grado, no se contemplan pruebas con
            usuarios finales.</li>
    </ul>
    <div class="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/B37dU7uepNc" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="center">
        <button mat-raised-button color="primary" [routerLink]="'/login'" target="_blank" class="space1 Inits">¡Empieza
            Ahora!</button>
    </div>

</div>