.space1{
    margin-top: 2%;
}

.titlehp {
    font-family: 'EB Garamond', serif;
    font-size: xxx-large;
    text-align: center;
    color: white;
}

.texthp {
    font-family: 'Source Serif Pro', serif;
    color:white;
    text-align: justify;
    font-size: x-large;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.2;
}

.Inits{
    font-family: 'Source Serif Pro', serif;
    background: linear-gradient(#653463, #331A31);
    color: white;
    margin-left: 47%;
}