<mat-card>
  <h1 class="text-center my-3">Actualizar Evaluación</h1>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h1 class="mt20"></h1>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form *ngIf="evaluacion" (ngSubmit)="actualizarEvaluacion()">
            <mat-form-field class="w100" appearance="outline" style="height: 68px;">
              <mat-label>Nombre de la página</mat-label>
              <input required autofocus type="text" name="titulo" matInput
                placeholder="Digite el título de la evaluación" [(ngModel)]="evaluacion.titulo" [formControl]="tituloControl">
            </mat-form-field>
            <span class="badge text-bg-success" *ngIf="tituloControl.dirty && tituloControl.valid">
              Correcto
            </span>
            <span class="badge text-bg-danger" *ngIf="tituloControl.invalid && tituloControl.touched">
              Este campo es obligatorio
            </span>
            <mat-form-field class="w100" appearance="outline" style="height: 140px;">
              <mat-label>Descripción</mat-label>
              <textarea name="descripcion" matInput placeholder="Digite la descripción de la evaluación" rows="4"
                [(ngModel)]="evaluacion.descripcion" [formControl]="descripcion">
                          </textarea>
            </mat-form-field>
            <span class="badge text-bg-success" *ngIf="descripcion.dirty && descripcion.valid">
              Correcto
            </span>
            <span class="badge text-bg-danger" *ngIf="descripcion.invalid && descripcion.touched">
              Este campo es obligatorio
            </span>
            <mat-form-field class="w100" appearance="outline" style="height: 68px;">
              <mat-label>URL</mat-label>
              <input required autofocus type="text" name="url" matInput
                placeholder="Digite la URL del sitio que desea evaluar" [(ngModel)]="evaluacion.url"
                [formControl]="url">
            </mat-form-field>
            <mat-hint>Se sugiere copiar la URL de la página desde la barra de direcciones del navegador</mat-hint>
            <br>
            <span class="badge text-bg-success" *ngIf="url.dirty && url.valid ">
              Correcto
            </span>
            <div *ngIf="url.invalid && (url.touched || url.dirty)">
              <span class="badge text-bg-danger" *ngIf="url.errors?.['required']">
                Este campo es obligatorio
              </span>
              <span class="badge text-bg-danger" *ngIf="url.errors?.['pattern']">
                El formato de la URL es incorrecto. Ejemplo: http(s)://www.url.com
              </span>
            </div>
            <h1 class="text-center my-3">Principios</h1>
            <h5 class="text-center text-danger">Recuerde que cada principio debe ser calificado con una puntuación entre
              0 y 10*</h5>
            <div *ngFor="let pe of principioEvaluaciones; let i = index">
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <b>{{ pe.principio.titulo }}</b>
                    </mat-panel-title>
                    <mat-slide-toggle color="primary" #slide name="estados{{i}}" [checked]="isEstadoChecked(pe)"
                      [(ngModel)]="pe.estado">
                      <b><span>{{slide.checked?'Añadido':'Añadir'}}</span></b></mat-slide-toggle>
                  </mat-expansion-panel-header>
                  <mat-card-subtitle>
                    {{ pe.principio.descripcion }}
                  </mat-card-subtitle>
                  <br>
                  <br>
                  <!-- <div *ngIf="pe.principio.principioId === p.principioId"> -->
                  <mat-form-field class="w100" appearance="outline">
                    <mat-label>Calificación</mat-label>
                    <input required autofocus type="number" name="respuesta{{i}}" matInput
                      placeholder="Digite su puntaje" [(ngModel)]="pe.respuesta" min="0" max="10">
                  </mat-form-field>
                  <mat-form-field class="w100" appearance="outline">
                    <mat-label>Comentarios</mat-label>
                    <textarea required name="comentario{{i}}" matInput placeholder="Digite sus comentarios" rows="3"
                      [(ngModel)]="pe.comentario">
                            </textarea>
                  </mat-form-field>
                  <!-- </div> -->
                </mat-expansion-panel>
              </mat-accordion>
              <br>
            </div>
            <br>
            <mat-form-field class="w100" appearance="outline" style="height: 140px;">
              <mat-label>Comentarios adicionales</mat-label>
              <textarea name="comentario" matInput placeholder="Digite comentarios adicionales" rows="4"
                [(ngModel)]="evaluacion.comentario" [formControl]="comentario">
                          </textarea>
            </mat-form-field>
            <span class="badge text-bg-success" *ngIf="comentario.dirty && comentario.valid">
              Correcto
            </span>
            <span class="badge text-bg-danger" *ngIf="comentario.invalid && comentario.touched">
              Este campo es obligatorio
            </span>
            <div class="container text-center mt15">
              <button mat-raised-button color="primary"
                [disabled]="tituloControl.invalid || descripcion.invalid || url.invalid || comentario.invalid">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
