<mat-card>
    <h1 class="text-center my-3">Agregar nuevo principio</h1>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h1 class="mt20"></h1>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Titulo</mat-label>
                            <input required autofocus type="text" name="titulo" matInput
                                placeholder="Digite el título del principio" [(ngModel)]="principio.titulo"
                                [formControl]="titulo">
                        </mat-form-field>
                        <div class="alert alert-success col-md-3" *ngIf="titulo.dirty && titulo.valid">
                            Correcto
                        </div>
                        <div class="alert alert-danger col-md-3" *ngIf="titulo.invalid && titulo.touched">
                            Este campo es obligatorio
                        </div>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Descripción</mat-label>
                            <textarea name="descripcion" matInput placeholder="Digite la descripción del principio"
                                rows="15" [(ngModel)]="principio.descripcion" [formControl]="descripcion">
                            </textarea>
                        </mat-form-field>
                        <div class="alert alert-success col-md-3" *ngIf="descripcion.dirty && descripcion.valid">
                            Correcto
                        </div>
                        <div class="alert alert-danger col-md-3" *ngIf="descripcion.invalid && descripcion.touched">
                            Este campo es obligatorio
                        </div>
                        <div class="container text-center mt15">
                            <button mat-raised-button color="primary"
                                [disabled]=" titulo.invalid || descripcion.invalid">Guardar principio</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>