<mat-card>
    <h1 class="text-center my-3">Actualizar principio</h1>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h1 class="mt20"></h1>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form *ngIf="principio" (ngSubmit)="actualizarPrincipio()">
                        <mat-form-field class="w100" appearance="outline" style="height: 68px;">
                            <mat-label>Titulo</mat-label>
                            <input required autofocus type="text" name="titulo" matInput
                                placeholder="Digite el título del principio" [(ngModel)]="principio.titulo"
                                [formControl]="titulo">
                        </mat-form-field>
                        <span class="badge text-bg-success" *ngIf="titulo.dirty && titulo.valid">
                            Correcto
                        </span>
                        <span class="badge text-bg-danger" *ngIf="titulo.invalid && titulo.touched">
                            Este campo es obligatorio
                        </span>
                        <mat-form-field class="w100" appearance="outline" style="height: 400px;">
                            <mat-label>Descripción</mat-label>
                            <textarea name="descripcion" matInput placeholder="Digite la descripción del principio"
                                rows="15" [(ngModel)]="principio.descripcion" [formControl]="descripcion">
                            </textarea>
                        </mat-form-field>
                        <span class="badge text-bg-success" *ngIf="descripcion.dirty && descripcion.valid">
                            Correcto
                        </span>
                        <span class="badge text-bg-danger" *ngIf="descripcion.invalid && descripcion.touched">
                            Este campo es obligatorio
                        </span>
                        <div class="container text-center mt15" style="margin-top: 10px;">
                            <button mat-raised-button color="primary"
                                [disabled]=" titulo.invalid || descripcion.invalid">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>